@import url("https://purvasheth.github.io/Ceres-Component-Lib/lib/styles.css");
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

:root {
  --primary: #6d28d9;
  --secondary: #DDD6FE;
}

/**************** utility classses ******************/
.flex-no-wrap {
  flex-wrap: nowrap;
}

.container {
  max-width: 1200px;
}

.align-end {
  align-self: flex-end;
}

.flex-grow {
  flex-grow: 1;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.align-baseline {
  align-items: baseline;
}

.w-250 {
  min-width: 250px;
}

.pl-5 {
  padding-left: 5rem;
}

/***************** Thumnail img ***************/
figure.fixedratio {
  padding-top: 56.25%;
  /* maintain 16:9 ratio */
  background-size: cover;
  background-position: center;
  margin: 0;
  width: 100%;
}

/************ video listing card **************/
.card {
  min-width: 300px;
  cursor: pointer;
}

.card__avatar {
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  height: 2.5rem;
  min-width: 2.5rem;
  border: 2px solid white;
  box-shadow: 0 0 0 2px var(--primary);
  margin-right: 1rem;
}

.card__title {
  font-weight: 700;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  height: min-content;
}

.card__author {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  height: min-content;
}

.btn--close--card {
  font-size: 1.1rem;
  background: white;
  margin-right: 0.25rem;
  margin-top: 0.25rem;
}

.card__icon {
  width: 3rem;
  height: 3rem;
  padding: 0;
  background: transparent;
  box-shadow: none;
  color: grey;
}

.card__icon:focus {
  box-shadow: none;
  background: var(--secondary);
}

.font--primary {
  color: var(--primary);
}